.idea/
.cursor/
.aiassistant/
.agents
.claude

**/node_modules
**/.env

backend/node_modules
backend/dist
backend/logs
backend/icon_offline.ico
backend/icon_online.ico
backend/settings.ini
backend/start_server.exe
backend/.env
backend/src/features/monitoring/diagnostics/monitoringStateCache.json

frontend/node_modules
frontend/dist
frontend/dist-next
frontend/dist-old
frontend/public/content
frontend/public/video
frontend/.env

